@model IEnumerable<Rent_A_Car_2021.Models.Factuurregel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Begindatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Einddatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dagprijs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Begindatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Einddatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dagprijs)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
