@model Rent_A_Car_2021.Models.Factuur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Factuur voor @Model.Klant.VolledigeNaam</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Klant.VolledigeNaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Klant.VolledigeNaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factuurnummer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factuurnummer)
        </dd>
    </dl>
    <br />
    <h4>Gereserveerde auto's</h4>
    <table class="table-bordered">
        @foreach (var line in Model.Factuurregels)
        {
            <tr>
                <td>
                    @line.Auto.Kenteken (@line.Auto.Merk): Van @line.Begindatum.ToShortDateString() tot en met
                    @line.Einddatum.AddDays(-1).ToShortDateString()
                </td>
            </tr>
        }
    </table>
    <div>
        <a asp-controller="Reserveer" asp-action="Create">Terug naar reserveringen</a>
    </div>
</div>



