<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rent_A_Car_2021</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @{
        ViewBag.LoginButtonText = "Login";
    }



    <div id="pageheader">

        <div id="logo" class="text-center">
            <img class="img-thumbnail" style="width:100%" src="~/Images/logorentacar.jpg" />
        </div>

        <div id="companyname">
            Rent-a-Car
            <div id="primary-contact-info">
                Bel ons op 074-2777218 om te reserveren of login/registreer om online te reserveren

            </div>
        </div>

        <div id="userinfo">
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Register" asp-controller="Account">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Login" asp-controller="Account">Login</a>
                    </li>
                }
            </ul>

        </div>
    </div>
    <div id="container" class="row">
        <div class="col-md-3" id="menu">

                @if (User.IsInRole("Employee"))
                {

                        <a class="button btn-lg btn-info" asp-action="Index" asp-controller="Auto">Auto's</a>
                        <a class="button btn-lg btn-info" asp-action="Index" asp-controller="Klant">Klanten</a>
                        <a class="button btn-lg btn-info" asp-action="Index" asp-controller="Medewerker">Medewerkers</a>
                }
                else
                {
            
                <a class="button btn-lg btn-info" asp-action="Index" asp-controller="Customer">Aanbod auto's</a>
            
                    @*@Html.ActionLink("Aanbod auto's", "Index", "Customer", new { },
                                 new { @class = "button btn-lg btn-info" })*@
                }

        </div>
        <div class="col-md-9">

            @RenderBody()

            <p>&copy; @DateTime.Now.Year - Rent-A-Car</p>

        </div>
    </div>








    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
