@model IEnumerable<Rent_A_Car_2021.Models.ViewModels.ReserveerVM>
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment _env
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Overzicht beschikbare auto's</h2>


<div class="row">

    @foreach (var item in Model)
    {

        var foto = "";
        var filename = _env.WebRootPath + "\\images\\" + item.Auto.Kenteken + ".jpg";
        if (System.IO.File.Exists(filename))
        {
            foto = "\\images\\" + item.Auto.Kenteken + ".jpg";
        }
        else
        {
            foto = "\\images\\no-image.jpg";
        }
        <div class="col-md-3">
            <form name="@item.Auto.Kenteken" asp-action="Create" asp-controller="Factuur">
                <input type="hidden" value="@item.Auto.Kenteken" />
                <div class="card">
                    <div class="card-title">@item.Auto.Merk - @item.Auto.Type</div>
                    <div class="card-body">
                        <img src="@foto" alt="@item.Auto.Kenteken" title="@item.Auto.Kenteken - @item.Auto.Merk" style="width:100%" />
                        <span>Dagprijs: € @item.Auto.Dagprijs</span>

                    </div>
                    <div class="card-footer">
                        <label asp-for="@item.Van" class="control-label"></label>
                        <input asp-for="@item.Van" class="form-control" />

                        <label asp-for="@item.AantalDagen" class="control-label"></label>
                        <input asp-for="@item.AantalDagen" class="form-control" />
                    </div>

                    @*Only display the button if a customer is logged in*@
                    @*@if (User.IsInRole("Customer"))
                        {*@
                    @*}*@
                </div>
            </form>
        </div>
        <a asp-controller="Factuur" asp-action="Create" class="btn-info">Plaats order</a>

    }
</div>
