@model IEnumerable<Rent_A_Car_2021.Models.ViewModels.ReserveerVM>
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment _env
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Overzicht beschikbare auto's</h2>


<div class="row">

    @foreach (var item in Model)
    {
        var foto = "";
        var filename = _env.WebRootPath + "\\images\\" + item.Auto.Kenteken + ".jpg";
        if (System.IO.File.Exists(filename))
        {
            foto = "\\images\\" + item.Auto.Kenteken + ".jpg";
        }
        else
        {
            foto = "\\images\\no-image.jpg";
        }

        <div class="col-md-2">
            <div class="card">
                <img src="@foto" alt="@item.Auto.Kenteken" title="@item.Auto.Kenteken - @item.Auto.Merk" style="width:100%" />
                @Html.DisplayFor(modelItem => item.Auto.Merk)
                @Html.DisplayFor(modelItem => item.Auto.Type)<br />
                Kenteken @Html.DisplayFor(modelItem => item.Auto.Kenteken)<br />
                Dagprijs @Html.DisplayFor(modelItem => item.Auto.Dagprijs)<br />
                <label asp-for="@item.Van" class="control-label"></label>
                <input asp-for="@item.Van" class="form-control" />

                <label asp-for="@item.AantalDagen" class="control-label"></label>
                <input asp-for="@item.AantalDagen" class="form-control" />

                @*Only display the button if a customer is logged in*@
                @if (User.IsInRole("Customer"))
                {
                    <a asp-controller="Factuur" asp-action="Create" class="btn-info"></a>
                    @*@Html.ActionLink("Reserveer", "Create", "Order", new { license = item.Kenteken }, new { @class = "button btn-info" });*@
                }
            </div>
            
        </div>
    }
</div>
