@model IEnumerable<Rent_A_Car_2021.Models.Auto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Merk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dagprijs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Merk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dagprijs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Kenteken">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Kenteken">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Kenteken">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
